.first {
  background: #f2f2f2; }
  .first-wrapp {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .first .call-wrapper {
    display: flex;
    align-items: center;
    width: 30%; }
    .first .call-wrapper .phone {
      background-image: url(../../sass/layout/sprite.png);
      background-position: -572px -347px;
      width: 10px;
      height: 10px; }
    .first .call-wrapper .call-info {
      font-size: 1rem;
      font-family: 'Lato';
      padding-left: 2.5rem; }
  .first .menu {
    display: flex;
    justify-content: flex-end;
    width: 70%; }
    .first .menu-list {
      display: inline-flex;
      list-style: none; }
      .first .menu-list__item {
        text-transform: uppercase;
        font-size: 1rem;
        font-family: 'Lato';
        margin-right: 2rem;
        padding-right: 4rem;
        position: relative; }
        .first .menu-list__item::before {
          content: '|';
          position: absolute;
          left: 85%;
          width: 2px;
          height: 11px; }
        .first .menu-list__item:last-of-type::before {
          content: ''; }
        .first .menu-list__item a {
          text-decoration: none;
          color: #000; }

.header {
  line-height: 4px;
  padding-top: 3rem; }
  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .header-wrapper .header-menu {
      width: 30%; }
      .header-wrapper .header-menu-list {
        list-style: none;
        display: inline-flex;
        padding-left: 0; }
        .header-wrapper .header-menu-list__item {
          font-size: 1.8rem;
          font-family: 'PlayfairDisplay';
          padding-right: 2rem; }
          .header-wrapper .header-menu-list__item a {
            text-decoration: none;
            color: #000; }
    .header-wrapper .header-title {
      width: 30%;
      text-align: center; }
      .header-wrapper .header-title h1 {
        font-size: 7.2rem;
        font-family: 'KrinkesDecor'; }
    .header-wrapper .header-socials {
      display: flex;
      width: 30%; }
      .header-wrapper .header-socials-wrapp {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-right: 6rem;
        width: 46%; }
      .header-wrapper .header-socials .header-facebook {
        background-image: url(../../sass/layout/sprite.png);
        background-position: -442px -210px;
        width: 34px;
        height: 34px; }
      .header-wrapper .header-socials .header-twitter {
        background-image: url(../../sass/layout/sprite.png);
        background-position: -550px -210px;
        width: 34px;
        height: 34px; }
      .header-wrapper .header-socials .header-pinterest {
        background-image: url(../../sass/layout/sprite.png);
        background-position: -442px -264px;
        width: 34px;
        height: 34px; }
      .header-wrapper .header-socials .header-instagram {
        background-image: url(../../sass/layout/sprite.png);
        background-position: -496px -210px;
        width: 34px;
        height: 34px; }
      .header-wrapper .header-socials select {
        height: 4rem;
        background: #000;
        color: #fff; }

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../../images/slider_bg.jpg) no-repeat top center;
  height: 700px;
  position: relative;
  background-size: cover; }
  .slider-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 50%;
    left: 51%;
    transform: translate(-52%, -50%); }
    .slider-wrapper .btn {
      text-decoration: none;
      background: #f09d66;
      color: #fff;
      padding: 15px 20px;
      text-transform: uppercase;
      font-size: 2.4rem;
      font-family: 'Lato';
      margin-top: 4rem; }

.ads {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem; }

.collection {
  display: flex;
  flex-direction: column;
  padding-bottom: 5rem; }
  .collection-title {
    position: relative; }
    .collection-title h1 {
      text-align: center;
      font-size: 2.9rem;
      font-family: 'PlayfairDisplay'; }
      .collection-title h1::before {
        content: '';
        position: absolute;
        top: 20px;
        left: 0px;
        width: 400px;
        height: 1px;
        background-color: #eaeaea; }
      .collection-title h1::after {
        content: '';
        position: absolute;
        top: 20px;
        right: 0px;
        width: 400px;
        height: 1px;
        background-color: #eaeaea; }
    .collection-title::before {
      content: '';
      position: absolute;
      top: 10px;
      left: 36%;
      background-image: url(../../images/rhombus.png);
      width: 20px;
      height: 20px; }
    .collection-title::after {
      content: '';
      position: absolute;
      top: 10px;
      right: 36%;
      background-image: url(../../images/rhombus.png);
      width: 20px;
      height: 20px; }
  .collection-wrapper {
    display: flex;
    flex-direction: row; }
    .collection-wrapper .col-1 {
      display: flex;
      flex-direction: column;
      width: 400px;
      margin-right: 1rem; }
      .collection-wrapper .col-1 .first {
        width: 100%;
        height: 400px;
        background-image: url(../../images/pre-collection/shoes.png);
        margin-bottom: 2rem;
        background-position: -10px; }
      .collection-wrapper .col-1 .second {
        width: 100%;
        height: 400px;
        background-image: url(../../images/pre-collection/accessories.png);
        background-position: -13px; }
    .collection-wrapper .col-2 {
      display: flex;
      flex-direction: column;
      width: 400px;
      margin-right: 7rem; }
      .collection-wrapper .col-2 .first {
        height: 820px;
        width: 461px;
        background-image: url(../../images/pre-collection/collection.png); }
    .collection-wrapper .col-3 {
      display: flex;
      flex-direction: column;
      width: 400px; }
      .collection-wrapper .col-3 .first {
        width: 100%;
        height: 400px;
        background-image: url(../../images/pre-collection/50%25.png);
        margin-bottom: 2rem;
        background-position: -8px; }
      .collection-wrapper .col-3 .second {
        width: 100%;
        height: 400px;
        background-image: url(../../images/pre-collection/purse.png);
        background-position: -8px; }

.summer {
  display: flex;
  flex-direction: column;
  padding-bottom: 5rem; }
  .summer-title {
    position: relative; }
    .summer-title h1 {
      text-align: center;
      font-size: 2.9rem;
      font-family: 'PlayfairDisplay'; }
      .summer-title h1::before {
        content: '';
        position: absolute;
        top: 20px;
        left: 0px;
        width: 400px;
        height: 1px;
        background-color: #eaeaea; }
      .summer-title h1::after {
        content: '';
        position: absolute;
        top: 20px;
        right: 0px;
        width: 400px;
        height: 1px;
        background-color: #eaeaea; }
    .summer-title::before {
      content: '';
      position: absolute;
      top: 10px;
      left: 36%;
      background-image: url(../../images/rhombus.png);
      width: 20px;
      height: 20px; }
    .summer-title::after {
      content: '';
      position: absolute;
      top: 10px;
      right: 36%;
      background-image: url(../../images/rhombus.png);
      width: 20px;
      height: 20px; }
  .summer-wrapper {
    display: flex; }
    .summer-wrapper .col-1 {
      width: 25%;
      display: flex;
      flex-direction: column;
      padding-right: 1rem; }
      .summer-wrapper .col-1 .first {
        height: 350px;
        width: 100%;
        margin-bottom: 2rem;
        background-image: url(../../images/collection/box-1.jpg); }
      .summer-wrapper .col-1 .second {
        height: 350px;
        width: 100%;
        background-image: url(../../images/collection/box-5.jpg); }
    .summer-wrapper .col-2 {
      width: 25%;
      display: flex;
      flex-direction: column;
      padding-right: 1rem; }
      .summer-wrapper .col-2 .first {
        height: 350px;
        width: 100%;
        margin-bottom: 2rem;
        background-image: url(../../images/collection/box-2.jpg); }
      .summer-wrapper .col-2 .second {
        height: 350px;
        width: 100%;
        background-image: url(../../images/collection/box-6.jpg); }
    .summer-wrapper .col-3 {
      width: 25%;
      display: flex;
      flex-direction: column;
      padding-right: 1rem; }
      .summer-wrapper .col-3 .first {
        height: 350px;
        width: 100%;
        margin-bottom: 2rem;
        background-image: url(../../images/collection/box-3.jpg); }
      .summer-wrapper .col-3 .second {
        height: 350px;
        width: 100%;
        background-image: url(../../images/collection/box-7.jpg); }
    .summer-wrapper .col-4 {
      width: 25%;
      display: flex;
      flex-direction: column; }
      .summer-wrapper .col-4 .first {
        height: 350px;
        width: 100%;
        margin-bottom: 2rem;
        background-image: url(../../images/collection/box-4.jpg); }
      .summer-wrapper .col-4 .second {
        height: 350px;
        width: 100%;
        background-image: url(../../images/collection/box-8.jpg); }

@font-face {
  font-family: 'Lato';
  src: url("/fonts/Lato/Lato-Regular.ttf");
  src: url("/fonts/Lato/Lato-Bold.ttf"); }

@font-face {
  font-family: 'PlayfairDisplay';
  src: url("/fonts/Playfair_display/PlayfairDisplay-BoldItalic.ttf");
  src: url("/fonts/Playfair_display/PlayfairDisplay-Regular.ttf");
  src: url("/fonts/Playfair_display/PlayfairDisplay-Italic.ttf"); }

@font-face {
  font-family: 'MyriadProRegular';
  src: url("/fonts/MyriadPro/MyriadProRegular.ttf");
  src: url("/fonts/MyriadPro/MyriadProRegular.eot");
  src: url("/fonts/MyriadPro/MyriadProRegular.otf");
  src: url("/fonts/MyriadPro/MyriadProRegular.woff"); }

@font-face {
  font-family: 'KrinkesDecor';
  src: url("/fonts/Krinkesdecor/KrinkesDecorPERSONAL.ttf"); }

html {
  font-size: 10px; }

body {
  margin: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

.container {
  width: 100%;
  max-width: 1290px;
  padding-left: 15px;
  padding-right: 15px; }
